.bg {
  background-image: url("./images/bg.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bgcolor {
  background-color:#7CAEAF;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;}

  .jumbotron {
    background-color: #181B24;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .background {
    background-image: url("./images/bg.jpg");
    background-repeat: repeat;
  }
  .timer{
    font-size: 1.5em;
  }
